<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.genovagreen">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GenovaGreen">

        <receiver android:name=".AlertReceiver" />


        <activity
            android:name=".Notification"
            android:label="@string/title_activity_notify"
            android:theme="@style/Theme.GenovaGreen.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBeJo3DcQiUZZzjWffP4DX3h4FB5T8T4ks" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Butto"
            android:label="GenovaGreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GenovaGreen.NoActionBar" />
        <activity
            android:name=".Impostazioni"
            android:label="GenovaGreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GenovaGreen.NoActionBar" />
        <activity
            android:name=".Informazioni"
            android:label="GenovaGreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GenovaGreen.NoActionBar" />
        <activity
            android:name=".Spedizioni5"
            android:label="GenovaGreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GenovaGreen.NoActionBar" />
        <activity
            android:name=".Login"
            android:label="GenovaGreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GenovaGreen.NoActionBar" />
        <activity
            android:name=".Spedizioni4"
            android:label="GenovaGreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GenovaGreen.NoActionBar"/>
        <activity
            android:name=".Password"
            android:label="GenovaGreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GenovaGreen.NoActionBar" />
        <activity
            android:name=".Spedizioni3"
            android:label="GenovaGreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GenovaGreen.NoActionBar" />
        <activity
            android:name=".Spedizioni2"
            android:label="GenovaGreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GenovaGreen.NoActionBar" />
        <activity
            android:name=".MapActivity"
            android:label="GenovaGreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GenovaGreen.NoActionBar" />
        <activity
            android:name=".MapSpedizioni"
            android:label="GenovaGreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GenovaGreen.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Pericolosi"
            android:label="GenovaGreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GenovaGreen.NoActionBar" />
        <activity
            android:name=".Pericolosi2"
            android:label="GenovaGreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GenovaGreen.NoActionBar" />
        <activity
            android:name=".Registrazione"
            android:label="GenovaGreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GenovaGreen.NoActionBar" />
        <activity
            android:name=".Spedizioni"
            android:label="GenovaGreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GenovaGreen.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GenovaGreen.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>